ServerAliveInterval 10

Host *
   StrictHostKeyChecking no
   UserKnownHostsFile=/dev/null

Host node10
  HostName 192.168.1.5
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem

Host node11
  HostName 192.168.2.162
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10

Host node12
  HostName 192.168.2.168
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10

Host node13
  HostName 192.168.4.158
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10

Host node14
  HostName 192.168.2.40
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10

Host node15
  HostName 192.168.2.142
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10

Host node16
  HostName 192.168.4.175
  User ec2-user
  IdentityFile  roles/bootstrap/files/aws-my-ssh-key.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p node10