ServerAliveInterval 10

Host *
   StrictHostKeyChecking no
   UserKnownHostsFile=/dev/null

Host deploy01
  HostName 52.194.210.4
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem

Host master1
  HostName 10.0.2.16
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01

Host master2
  HostName 10.0.2.67
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01

Host master3
  HostName 10.0.2.119
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01

Host node1
  HostName 10.0.2.158
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01

Host node2
  HostName 10.0.2.194
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01

Host node3
  HostName 10.0.2.205
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem
#  ProxyCommand ssh -F ssh_config -W %h:%p deploy01


Host new-node1
  HostName 10.0.2.72
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem


Host new-node2
  HostName 10.0.2.206
  User root
  IdentityFile  roles/bootstrap/files/MyTest.pem