{
  "CN": "etcd",
  "hosts": [
{% for host in groups['kube-master'] %}
    "{{ hostvars[host]['node_ip']  }}",
{% endfor %}
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "ShangHai",
      "L": "ShangHai",
      "O": "k8s",
      "OU": "System"
    }
  ]
}
